PORT = 3000
MONGO_URI = mongodb+srv://JiangfengCS686Fall21:fengzi-21@cluster0.ihos5.mongodb.net/neogeekhub?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 322336623130-jl4ce5b0vvo7n0u95smbaj4uatnj8tuh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = wei7_zB7qOuCgtZmjigs9w_D