PORT = 3000
MONGO_URI = mongodb+srv://JiangfengCS686Fall21:fengzi-21@cluster0.ihos5.mongodb.net/neogeekhub?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 322336623130-g7arhnpmhv274h0c2kiij0a441o6kvh0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 53r10QO8S1IcQL5BHPFTR7lL