PORT = 3000
MONGO_URI = mongodb+srv://JiangfengCS686Fall21:fengzi-21@cluster0.ihos5.mongodb.net/neogeekhub?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 322336623130-sj5koi96s7klbv2n0mam68ubj8arkaqv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 5KvSA5r7-f5CZJG3_ATdGk7W